.orderTable{
    /*background-color: pink;*/
    margin-bottom: 40px;
    margin-top: 20px;
}
.orderTable > button {
    border: none;
    border: 1px solid navy;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 10px;
    padding:  10px;
    float: right;
    background-color: white;
}

.orderTable >button:hover {
    cursor: pointer;
    background-color: #2E378F;
    color: white;
}
