* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  /*background-color: pink;*/
  height: 100vh;
}

/*.container {*/
/*  max-width: 90%;*/
/*  margin: 0 auto;*/
/*}*/
.currentPage {
  text-decoration: underline;
}